body {
	font:62.5% sans-serif;
	margin:0;
}

#toolbar{
	height:50px;
	border-bottom:1px solid #333333;
}

#palette {
	position:absolute;
	float:left;
	width:200px;
	height:580px;
	border-right:0;
	background-color:white;
	padding:5px;
	border-right:1px solid #333333;
}

#diagram {
	background-image:none;
	background-color:white;
	margin-left:210px;
	height:590px;
}