body {
	font:62.5% sans-serif;
	margin:0;
}

a {
  outline: none;
}


#toolbar{
	padding:10px;
	border-bottom:1px solid #CCCCCC;
}

#palette {
	position:absolute;
	float:left;
	width:200px;
	height:580px;
	border-right:0;
	background-color:white;
	padding:5px;
	border-right:1px solid #CCCCCC;
}

#diagram {
	background-image:none;
	background-color:white;
	margin-left:90px;
	height:590px;
}

#open-modal{
	padding-top:40px;
	text-align:center;
}

#open-modal .row{
	margin-bottom:10px;
}

#open-modal label{
	margin-right:10px;
}

.no-diagrams{
	padding:40px;
	text-align:center;
	color:#666666;
	font-style: italic;
}

/* Dragable objects */
.obj{
	width:75px;
	height:75px;
	float:left;
	margin:10px;
}

.obj div{
    position: relative;
    top: 33px;
	text-align:center;
}

.cloud{
	background:url(../images/cloud.png) no-repeat;
}

.security{
	background:url(../images/wall-icon.png) no-repeat;
}

.security div span{
	padding:3px;
	background-color:white;
}

.multi{
	background:url(../images/multi-icon.png) no-repeat;
}

.server{
	background:url(../images/server-icon.png) no-repeat;
}

.multi-server{
	background:url(../images/multi-server-icon.png) no-repeat;
}

.line{
	background:url(../images/line.png) no-repeat;
}

.circle{
	background:url(../images/circle-icon.png) no-repeat;
}

/* Buttons */
/* button basics */
  a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(../images/minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
	margin-right:5px;
  }
  
  a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(../images/minibutton_matrix.png) 100% 0 no-repeat;
  }
  
  a.minibutton:hover {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
  }
  a.minibutton:hover>span {background-position:100% -30px;}
  a.minibutton.mousedown{background-position:0 -60px; }
  a.minibutton.mousedown>span{background-position:100% -60px; }
  
  /* with icon */
  a .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(../images/minibutton_icons.png) 0 0 no-repeat;
  }
  a.btn-download:hover .icon, {background-position:-40px -25px;}

#btn-line .icon {
    background-position: 0 0;
    width: 16px;
}

#btn-line:hover .icon {
    background-position: 0 -25px;
}

/* jquery ui override */
.ui-accordion .ui-accordion-content{
	padding:0;
}